.text-white {
  color: white !important;
}

#home {
  height: 100vh;
  position: relative;
  padding: 1rem 0;
  box-sizing: border-box;
}

#home .add-question-dialog {
  background: #303030;
  width: 100%;
}

#home .add-question-dialog .add-question-dialog-title {
  font-size: 1.5rem
}

#home .add-question-dialog .add-question-dialog-content form {
  display: flex;
  flex-direction: column;
}

#home .add-question-dialog .add-question-dialog-content form .question-input {
  width: 100%;
}

#home .add-question-dialog .add-question-dialog-content form .question-input .question-label {
  color: #ffffff9a;
}

#home #add-question-btn {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
}

#home .card-container {
  padding: .5rem 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 1rem 0;
}

#home .card-container .question-card {
  background: #9c27b0;
  color: white;
}

#home .card-container .question-card .question-content {
  filter: brightness(.8);
  margin: 0;
}

#home .card-container .question-card .question-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home .card-container .question-card .question-card-actions .answer-quantity {
  margin: 0;
  margin-left: 1rem;
  display: flex;
  align-items: baseline;
}

#home .card-container .question-card .question-card-actions .answer-quantity .quantity, 
#home .card-container .question-card .question-card-actions .answer-quantity i.material-icons {
  font-size: 1rem;
}

#home .card-container .question-card .question-card-actions .answer-quantity .quantity {
  margin-left: .3rem;
}

@media (min-width: 1024px) {
  #home .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  #home {
    padding: 1rem 10rem;
  }
}

@media (min-width: 1440px) {
  #home .card-container .question-card .question-content {
    font-size: 1rem;
  }
}
